/*Color del fondo*/
.dialog-pane{
	-fx-background-color:
}
/*Texto de la alerta*/
.dialog-pane.label{
	-fx-text-fill: white;
	-fx-font-family: "Consolas";
	-fx-font-size: 14px;
}
/*Boton de aceptar*/
.dialog-pane.button{
	-fx-background-color: #68f2ff;
	-fx-text-fill: black;
	-fx-text-weight: bold;
}
/*Hover al pasar el raton*/
.dialog-pane .button-hover{
	-fx-background-color: #20ff67;
}

